#legals {
    position: absolute;
    width: 930px;
    height: 60px;
    bottom: 50px;
    left: 0;

    padding: 25px;

    background-color: rgba(255, 255, 255, .7);

    text-align: right;

    .logo {
        height: 60px;
    }

    &.DCA {
        width: 770px;
        bottom: 80px;
        height: 50px;

        .logo {
            height: 50px;
        }
    }

    &.WDE {
        width: 387px;
        bottom: 0;
        height: 25px;

        padding: 10px;

        .logo {
            height: 25px;
            padding: 0;
        }
    }

    &.SHD {
        width: unset;
        top: 50px;
        right: 0;
        left: unset;
        height: 30px;

        padding: 20px 130px 20px 20px;

        text-align: left;

        .logo {
            height: 30px;
            padding: 0;
        }
    }

    &.PML {
        top: 0px;
        right: 0px;
        left: unset;

        padding: 15px;

        background-color: transparent;

        .logo {
            height: 50px;
        }
    }
}
