#legals {
    position: absolute;
    width: 930px;
    height: 60px;
    bottom: 50px;
    left: 0;

    padding: 25px;

    background-color: rgba(255, 255, 255, .7);

    text-align: right;

    .logo {
        height: 60px;
    }

    &.DCA {
        width: 770px;
        bottom: 80px;
        height: 50px;

        .logo {
            height: 50px;
        }
    }

    &.WDE {
        width: 387px;
        bottom: 0;
        height: 25px;

        padding: 10px;

        .logo {
            height: 25px;
            padding: 0;
        }
    }

    &.SGL {
        width: 470px;
        top: 0;
        height: 30px;

        padding: 20px;

        .logo {
            height: 30px;
            padding: 0;
        }
    }
}
