.city-line {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;

    background-color: $transparent-background;

    .temperature-block {
        display: flex;
        align-items: center;
        background-color: transparentize($transparent-background, .2);

        .temperature {
            display: block;

            text-align: center;
            color: white;
            font-weight: 700;
        }
    }

    .weather-icon {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .city-name {
        color: white;
        font-weight: 700;
    }

    .FCL & {
        width: 100%;
        height: 185px;

        &:not(:first-child) {
            margin-top: 5px;
        }

        .temperature-block {
            width: 320px;
            height: 100%;

            .temperature {
                width: 100%;
                padding: 17px 0 0 5px;

                font-size: 100pt;
            }
        }

        .weather-icon {
            width: 350px;
            height: 145px;
            margin: 0 25px;
        }

        .city-name {
            font-size: 90pt;
        }
    }

    .DCA & {
        width: 100%;
        height: 185px;

        &:not(:first-child) {
            margin-top: 10px;
        }

        .temperature-block {
            width: 270px;
            height: 100%;

            .temperature {
                width: 100%;
                padding: 0 0 0 5px;

                font-size: 80pt;
                line-height: 190px;
            }
        }

        .weather-icon {
            width: 200px;
            height: 145px;
            margin: 0 25px;
        }

        .city-name {
            font-size: 70pt;
            line-height: 185px;
        }
    }

    .SHD & {
        width: 100%;
        height: 158px;

        &:not(:first-child) {
            margin-top: 5px;
        }

        .temperature-block {
            width: 320px;
            height: 100%;

            .temperature {
                width: 100%;

                line-height: 168px;
                font-size: 80pt;
            }
        }

        .weather-icon {
            width: 250px;
            height: 118px;
            margin: 0 25px;
        }

        .city-name {
            font-size: 70pt;
        }
    }
}
