#hourly-now {
    position:absolute;
    top: 0;
    left: 0;

    font-family: 'Poppins', sans-serif;

    &:before {
        content: "";
        position: absolute;
        left: -225px;
        top: -210px;
        height: 500px;
        width: 500px;
        background: rgb(0,0,0);
        background: radial-gradient(circle, rgba(0,0,0,0.35) 0%, rgba(255,255,255,0) 55%);
    }

    transition: .5s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition-property: opacity;

    &.transition-hour-now-appear,
    &.transition-hour-now-enter {
        opacity: 0;

        &.transition-hour-now-appear-active,
        &.transition-hour-now-enter-active {
            opacity: 1;
        }
    }

    .icon {
        position: absolute;
        top: -75px;
        left: -125px;
        width: 375px;
        height: 275px;

        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .temperature {
        position: absolute;
        left: 200px;
        top: 15px;
        width: 250px;
        color: $darkerBlue;

        font-size: 70pt;
        font-weight: 600;
        text-align: center;
    }

    .h-separator {
        position: absolute;
        left: 225px;
        top: 130px;
        height: 2px;
        width: 200px;

        background-color: $orange;
        border: none;
    }

    .feels-like {
        position: absolute;
        left: 200px;
        top: 150px;
        width: 250px;

        color: $darkerBlue;
        font-size: 16pt;
        font-weight: 600;
        text-align: center;
        text-transform: lowercase;
    }

    .sunset-sunrise {
        position: absolute;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        top: 210px;
        left: 0;
        width: 415px;
        height: 35px;
        padding-right: 10px;

        vertical-align: middle;

        color: #FFF;
        font-size: 14pt;
        font-weight: 500;
        text-align: right;

        background-color: $darkerBlue;
    }
}

#hours {
    position: absolute;
    left: 560px;
    top: 30px;
    display: flex;
    width: 850px;

    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    font-family: 'Poppins', sans-serif;

    .hour-wrapper {
        width: 110px;
        transition: .5s cubic-bezier(0.645, 0.045, 0.355, 1);
        transition-property: opacity;

        @for $i from 0 to 6 {
            &:nth-child(#{$i + 1}) {
                transition-delay: #{($i+1) * .1}s;
            }
        }

        &.transition-hours-appear,
        &.transition-hours-enter {
            opacity: 0;

            &.transition-hours-appear-active,
            &.transition-hours-enter-active {
                opacity: 1;
            }
        }

        .hour {
            box-sizing: border-box;
            width: 100%;
            height: 40px;

            background-color: $orange;
            color: #FFF;
            text-align: center;
            font-size: 1.8em;
        }

        .icon {
            width: 100%;
            height: 90px;
            margin: 15px 0;

            background-position: center center;
            background-size: contain;
            background-repeat: no-repeat;
        }

        .temperature {
            box-sizing: border-box;
            width: 100%;

            color: $darkerBlue;
            text-align: center;
            font-size: 3.3em;
            font-weight: bold;
        }
    }
}
