#FCL-National
{
    position: absolute;
    overflow: hidden;

    &.FCL,
    &.LED {
        left: 1920px;
        top: 0;
        width: 1920px;
        height: 1080px;
    }

    &.DCA {
        left: 0px;
        top: 750px;
        width: 1080px;
        height: 1170px;
    }
}

#national-wrapper
{
    position: absolute;

    &.FCL,
    &.LED {
        left: 85px;
        top: 70px;
        height: 940px;
        width: 1750px;
    }

    &.DCA {
        left: 0;
        top: 0;
        height: 1170px;
        width: 1080px;
    }
}

.city-line
{
    $elements: 5;
    @for $i from 0 to $elements {
        &:nth-child(#{$i + 1}) {
            transition: #{($i + 1) * .25}s cubic-bezier(0.645, 0.045, 0.355, 1);
        }
    }

    @for $i from 0 to $elements {
        &:nth-child(#{$i + 6}) {
            transition: #{($i + 1) * .25}s cubic-bezier(0.645, 0.045, 0.355, 1);
            transition-property: margin-left, opacity;
        }
    }

    &.transition-national-appear,
    &.transition-national-enter
    {
        position: absolute;

        opacity: 0;
        margin-left: 250px;

        @for $i from 1 to $elements
        {
            &:nth-child(#{$i + 1})
            {
                &.FCL,
                &.LED {
                    top: #{$i * 185 + ($i - 1) * 5}px;
                }

                &.DCA {
                    top: #{$i * 185 + ($i - 1) * 40}px;;
                }
            }
        }

        &.transition-national-appear-active,
        &.transition-national-enter-active
        {
            opacity: 1;
            margin-left: 0;
        }
    }

    &.transition-national-leave
    {
        opacity: 1;
        margin-left: 0;

        &.FCL,
        &.LED {
            &:nth-child(6) {
                margin-top: 0px;
            }
        }

        .DCA {
            &:nth-child(6),
            &:nth-child(7),
            &:nth-child(8),
            &:nth-child(9),
            &:nth-child(10) {
                top: -40px;
            }
        }

        &.transition-national-leave-active
        {
            opacity: 0.01;
            margin-left: -250px;
        }
    }
}

