#FCL-National
{
    position: absolute;
    left: 1920px;
    top: 0;
    width: 1920px;
    height: 1080px;

    overflow: hidden;
}

#national-wrapper
{
    position: absolute;
    left: 85px;
    top: 70px;

    height: 940px;
    width: 1750px;
}

.city-line
{
    $elements: 5;
    @for $i from 0 to $elements {
        &:nth-child(#{$i + 1}) {
            transition: #{($i + 1) * .25}s cubic-bezier(0.645, 0.045, 0.355, 1);
        }
    }

    @for $i from 0 to $elements {
        &:nth-child(#{$i + 6}) {
            transition: #{($i + 1) * .25}s cubic-bezier(0.645, 0.045, 0.355, 1);
            transition-property: margin-left, opacity;
        }
    }

    &.transition-national-appear,
    &.transition-national-enter
    {
        position: absolute;

        opacity: 0;
        margin-left: 250px;

        @for $i from 1 to $elements
        {
            &:nth-child(#{$i + 1})
            {
                top: #{$i * 185 + ($i - 1) * 5}px;
            }
        }

        &.transition-national-appear-active,
        &.transition-national-enter-active
        {
            opacity: 1;
            margin-left: 0;
        }
    }

    &.transition-national-leave
    {
        opacity: 1;
        margin-left: 0;

        &:nth-child(6) {
            margin-top: 0;
        }

        &.transition-national-leave-active
        {
            opacity: 0.01;
            margin-left: -250px;
        }
    }
}

