@import "../../style/colors";

#background {
  position            : absolute;
  top                 : 0;
  left                : 0;
  z-index             : 0;

  width               : 100%;
  height              : 100%;

  background-color    : $background;
  background-repeat   : no-repeat;
  background-position : top left;
  background-size     : cover;

  transition          : .75s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition-property : opacity;

  &.background-appear,
  &.background-enter {
    opacity : 0;

    &.background-appear-active,
    &.background-enter-active {
      opacity : 1;
    }
  }

  &.background-exit {
    transition          : .25s cubic-bezier(0.645, 0.045, 0.355, 1);
    opacity    : 1;

    &.background-exit-active {
      opacity : 0.01;
    }
  }
}
