$yellow: rgba(255, 194, 13, 1);
$grey: rgba(170, 170, 170, 1);
$blue: rgba(135, 183, 223, 1);
$darkBlue: rgb(42, 78, 136);
$darkerBlue       : #202035;

$lightBlue: #53b0f3;
$lightOrange: #e8af46;

$orange: rgba(243, 128, 0, 1);

$transparent-background: rgba(0, 0, 0, .65);

$background: #24333E;
