// MAIN CSS ENTRY POINT
@import 'colors';
@import '~dynamics-utilities/src/sass/mixins/font-face';

@import '../scenes/Background/Background';
@import '../scenes/Captions/Captions';
@import '../scenes/Error/Error';
@import '../scenes/Forecast/Forecast';
@import '../scenes/Forecast/DayColumn/DayColumn';
@import '../scenes/Hourly/Hourly';
@import '../scenes/Legal/Legal';
@import '../scenes/Log/Log';
@import '../scenes/National/National';
@import '../scenes/National/CityLine/CityLine';
@import '../scenes/OneDay/OneDay';

@include font-face(Gotham, "~dynamics-utilities/src/fonts/Gotham/Gotham-Light", 300, normal, woff2 woff);
@include font-face(Gotham, "~dynamics-utilities/src/fonts/Gotham/Gotham-Book", 500, normal, woff2 woff);
@include font-face(Gotham, "~dynamics-utilities/src/fonts/Gotham/Gotham-Bold", 700, normal, woff2 woff);

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

html, body
{
    margin: 0;
    padding: 0;

    font-family: Gotham;

    background-color: $background;
}

#main-wrapper {
    width: 100%;
    height: 100%;
}

main {
    display: block;
    position: absolute;

    transform-origin: top left;
    top: 0;
    left: 0;

    &.FCL {
        width: 3840px;
        height: 1080px;

        &.LED {
            width: 4080px;
            height: 1080px;
            transform-origin: top left;
        }
    }

    &.DCA {
        width: 1080px;
        height: 1920px;
    }

    &.WDE {
        width: 2560px;
        height: 384px;
    }

    &.SHD,
    &.PHD {
        width: 1920px;
        height: 1080px;
    }

    &.PML {
        width: 1440px;
        height: 270px;

        background-color: #FFF;
    }

    &.PMP {
        width: 480px;
        height: 1080px;

        background-color: #FFF;

        &:before {
            content: "";
            display: block;
            position: absolute;
            left: 90px;
            top: 45px;

            width: 300px;
            height: 150px;

            background-image: url("../assets/images/PompeLogo.png");
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
        }
    }
}
