// MAIN CSS ENTRY POINT
@import 'colors';
@import '~dynamics-utilities/src/sass/mixins/font-face';

@import '../scenes/Background/Background';
@import '../scenes/Captions/Captions';
@import '../scenes/Error/Error';
@import '../scenes/Forecast/Forecast';
@import '../scenes/Forecast/DayColumn/DayColumn';
@import '../scenes/Legal/Legal';
@import '../scenes/Log/Log';
@import '../scenes/National/National';
@import '../scenes/National/CityLine/CityLine';
@import '../scenes/OneDay/OneDay';

@include font-face(Gotham, "~dynamics-utilities/src/fonts/Gotham/Gotham-Light", 300, normal, woff2 woff);
@include font-face(Gotham, "~dynamics-utilities/src/fonts/Gotham/Gotham-Book", 500, normal, woff2 woff);
@include font-face(Gotham, "~dynamics-utilities/src/fonts/Gotham/Gotham-Bold", 700, normal, woff2 woff);

html, body
{
    margin: 0;
    padding: 0;

    font-family: Gotham;

    background-color: $background;
}

#main-wrapper {
    width: 100%;
    height: 100%;
}

main {
    display: block;
    position: absolute;

    transform-origin: top left;
    top: 0;
    left: 0;

    &.FCL {
        width: 3840px;
        height: 1080px;

        &.LED {
            width: 4080px;
            height: 1080px;
            transform-origin: top left;
        }
    }

    &.DCA {
        width: 1080px;
        height: 1920px;
    }

    &.WDE {
        width: 2560px;
        height: 384px;
    }

    &.SHD,
    &.PHD {
        width: 1920px;
        height: 1080px;
    }

    &.PML {
        width: 1280px;
        height: 360px;

        background-color: #FFF;
    }
}
