#FCL-Forecast {
    display: flex;
    position: absolute;

    &.FCL {
        top: 125px;
        left: 2035px;
        width: 1700px;
        height: 955px;
    }

    // background-color: rgba(0, 0, 0, .65);
}
