#forecast {
    display: flex;
    position: absolute;

    &.FCL {
        top: 125px;
        left: 2035px;
        width: 1700px;
        height: 955px;
    }

    &.DCA {
        top: 630px;
        left: 30px;
        width: 1080px;
        height: 1290px;
    }

    &.WDE {
        top: 24px;
        left: 810px;
        width: 1695px;
        height: 359px;
    }

    &.SHD,
    &.PHD {
        top: 270px;
        left: 110px;
        width: 1700px;
        height: 810px;
    }

    &.PML {
        top: 85px;
        left: 0px;
        width: 1245px;
        height: 275px;
    }


    // background-color: rgba(0, 0, 0, .65);
}
