.day-column {
    position: relative;
    background-color: rgba(0, 0, 0, .65);

    .caption {
        color: white;

        font-weight: 700;
        text-align: center;
    }

    .weather-icon {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
    }

    .weather-label {
        box-sizing: border-box;

        color: #FFF;
        font-weight: 700;
        text-align: center;

        .label {
            display: inline-block;
            vertical-align: middle;
            line-height: 1.2;

            /* -webkit-hyphens: auto;
            -moz-hyphens: auto;
            -ms-hyphens: auto;
            hyphens: auto; */
        }
    }

    .h-separator {
        border: 3px solid rgba(lighten($yellow, 15%), .6);
    }

    &:not(:first-child) .v-separator {
        position: absolute;

        background: -moz-linear-gradient(top, rgba(255, 255, 255, .9) 0%, rgba(255, 255, 255, 0) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(255, 255, 255, .9) 0%, rgba(255, 255, 255, 0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(255, 255, 255, .9) 0%, rgba(255, 255, 255, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=0); /* IE6-9 */
    }

    .max-temperature {
        color: white;
        text-align: center;
        font-weight: 700;
    }

    .min-temperature {
        color: $blue;
        text-align: center;
        font-weight: 700;
    }

    $elements: 5;
    @for $i from 0 to $elements {
        &:nth-child(#{$i + 1}) {
            transition: #{($i + 1) * .25}s cubic-bezier(0.645, 0.045, 0.355, 1);
        }
    }

    @for $i from 0 to $elements {
        &:nth-child(#{$i + 6}) {
            transition: #{($i + 1) * .25}s cubic-bezier(0.645, 0.045, 0.355, 1);
            transition-property: margin-left, opacity;
        }
    }

    &.transition-forecast-appear,
    &.transition-forecast-enter {
        position: absolute;

        opacity: 0;
        margin-top: 50px;

        @for $i from 1 to $elements {
            &:nth-child(#{$i + 1}) {
                left: #{$i * 340}px;
            }
        }

        &.transition-forecast-appear-active,
        &.transition-forecast-enter-active {
            opacity: 1;
            margin-top: 0;
        }
    }

    .FCL & {
        width: 340px;
        height: 100%;

        .caption {
            width: 100%;
            height: 135px;

            margin-top: 25px;

            font-size: 85pt;
        }

        .weather-icon {
            width: 250px;
            height: 270px;
            margin: 20px auto;
        }

        .weather-label {
            top: 480px;
            height: 150px;

            padding: 0 30px;

            font-size: 28pt;
            line-height: 150px;

            .label {
                width: 280px;
            }
        }

        &:first-child .h-separator {
            margin-left: 50px;
        }

        &:last-child .h-separator {
            margin-right: 50px;
        }

        &:not(:first-child) .v-separator {
            top: 200px;
            height: 600px;
            width: 7px;
        }

        .max-temperature {
            margin: 40px 0 0;
            padding-left: 45px;

            font-size: 95pt;
        }

        .min-temperature {
            margin-top: -15px;
            padding-left: 32px;

            font-size: 70pt;
        }
    }

    .DCA & {
        width: 340px;
        height: 100%;

        &:nth-child(4),
        &:nth-child(5) {
            display: none;
        }

        .caption {
            width: 100%;
            height: 135px;

            margin-top: 45px;

            font-size: 85pt;
        }

        .weather-icon {
            width: 250px;
            height: 270px;
            margin: 40px auto;
        }

        .weather-label {
            height: 150px;
            margin: 40px 0;

            padding: 0 30px;

            font-size: 28pt;
            line-height: 150px;

            .label {
                width: 280px;
            }
        }

        .h-separator {
            margin-left: 75px;
            margin-right: 75px;
        }

        &:first-child .h-separator {
            margin-left: 50px;
        }

        &:last-child .h-separator {
            margin-right: 50px;
        }

        &:not(:first-child) .v-separator {
            top: 200px;
            height: 600px;
            width: 7px;
        }

        .max-temperature {
            margin: 60px 0 0;
            padding-left: 45px;

            color: $yellow;
            font-size: 95pt;
        }

        .min-temperature {
            margin-top: 15px;
            padding-left: 32px;

            font-size: 70pt;
        }
    }
}
