@import "../../../style/colors";

.day-column {
    position: absolute;
    background-color: rgba(0, 0, 0, .65);

    .caption {
        color: white;

        font-weight: 700;
        text-align: center;
    }

    .weather-icon {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
    }

    .weather-label {
        box-sizing: border-box;

        color: #FFF;
        font-weight: 700;
        text-align: center;

        .label {
            display: inline-block;
            vertical-align: middle;
            line-height: 1.2;

            /* -webkit-hyphens: auto;
            -moz-hyphens: auto;
            -ms-hyphens: auto;
            hyphens: auto; */
        }
    }

    .h-separator {
        border: 3px solid rgba(lighten($yellow, 15%), .6);
    }

    &:not(:first-child) .v-separator {
        position: absolute;

        background: -moz-linear-gradient(top, rgba(255, 255, 255, .9) 0%, rgba(255, 255, 255, 0) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(255, 255, 255, .9) 0%, rgba(255, 255, 255, 0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(255, 255, 255, .9) 0%, rgba(255, 255, 255, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=0); /* IE6-9 */
    }

    .max-temperature {
        color: white;
        text-align: center;
        font-weight: 700;
    }

    .min-temperature {
        color: $blue;
        text-align: center;
        font-weight: 700;
    }

    $elements: 5;
    @for $i from 0 to $elements {
        &:nth-child(#{$i + 1}) {
            transition: #{($i + 1) * .25}s cubic-bezier(0.645, 0.045, 0.355, 1);
        }
    }

    @for $i from 0 to $elements {
        &:nth-child(#{$i + 6}) {
            transition: #{($i + 1) * .25}s cubic-bezier(0.645, 0.045, 0.355, 1);
            transition-property: margin-left, opacity;
        }
    }

    @for $i from 1 to $elements {
        .FCL &:nth-child(#{$i + 1}),
        .HD &:nth-child(#{$i + 1}),
        .DCA &:nth-child(#{$i + 1}) {
            left: #{$i * 340}px;
        }

        .PMP &:nth-child(#{$i + 1}) {
            top: #{$i * 255}px;
        }
    }

    &.forecast-appear,
    &.forecast-enter {
        position: absolute;

        .PML & {
            position: relative;
        }

        opacity: 0;
        margin-top: 50px;

        .PMP & {
            left: 0;
            margin-top: 0;
        }

        &.forecast-appear-active,
        &.forecast-enter-active,
        &.forecast-appear-done,
        &.forecast-enter-done {
            opacity: 1;
            margin-top: 0;
        }
    }

    .FCL & {
        width: 340px;
        height: 100%;

        .caption {
            width: 100%;
            height: 135px;

            margin-top: 25px;

            font-size: 85pt;
        }

        .weather-icon {
            width: 250px;
            height: 270px;
            margin: 20px auto;
        }

        .weather-label {
            top: 480px;
            height: 150px;

            padding: 0 30px;

            font-size: 28pt;
            line-height: 150px;

            .label {
                width: 280px;
            }
        }

        &:first-child .h-separator {
            margin-left: 50px;
        }

        &:last-child .h-separator {
            margin-right: 50px;
        }

        &:not(:first-child) .v-separator {
            top: 200px;
            height: 600px;
            width: 7px;
        }

        .max-temperature {
            margin: 40px 0 0;
            padding-left: 45px;

            font-size: 95pt;
        }

        .min-temperature {
            margin-top: -15px;
            padding-left: 32px;

            font-size: 70pt;
        }
    }

    .DCA & {
        width: 340px;
        height: 100%;

        &:nth-child(4),
        &:nth-child(5) {
            display: none;
        }

        .caption {
            width: 100%;
            height: 135px;

            margin-top: 45px;

            font-size: 85pt;
        }

        .weather-icon {
            width: 250px;
            height: 270px;
            margin: 40px auto;
        }

        .weather-label {
            height: 150px;
            margin: 40px 0;

            padding: 0 30px;

            font-size: 40pt;
            line-height: 150px;

            .label {
                width: 280px;
            }

            &.small-text {
                font-size: 28pt;
            }
        }

        .h-separator {
            margin-left: 75px;
            margin-right: 75px;
        }

        &:first-child .h-separator {
            margin-left: 50px;
        }

        &:last-child .h-separator {
            margin-right: 50px;
        }

        &:not(:first-child) .v-separator {
            top: 200px;
            height: 600px;
            width: 7px;
        }

        .max-temperature {
            margin: 60px 0 0;
            padding-left: 45px;

            color: $yellow;
            font-size: 95pt;
        }

        .min-temperature {
            margin-top: 15px;
            padding-left: 32px;

            font-size: 70pt;
        }
    }

    .WDE & {
        position: absolute;

        width: 335px;
        height: 100%;

        @for $i from 1 to $elements {
            .WDE &:nth-child(#{$i + 1}) {
                left: #{$i * 345}px;
            }
        }

        .caption {
            width: 100%;
            height: 115px;

            margin-top: 15px;

            font-size: 65pt;
        }

        .weather-icon {
            width: 250px;
            height: 120px;
            margin: 0 auto 20px;
        }

        .weather-label,
        .h-separator,
        .v-separator {
            display: none;
        }

        .max-temperature {
            margin: 0 0 0 30px;
            font-size: 55pt;
            text-align: left;
        }

        .min-temperature {
            margin: -78px 20px 0 0;
            font-size: 45pt;
            text-align: right;
        }
    }

    .HD & {
        width: 340px;
        height: 100%;

        .caption {
            width: 100%;
            height: 135px;
            margin-top: 20px;

            font-size: 75pt;
        }

        .weather-icon {
            width: 250px;
            height: 270px;
            margin: 0px auto;
        }

        .weather-label {
            top: 480px;
            height: 130px;

            padding: 0 30px;

            font-size: 28pt;
            line-height: 130px;

            .label {
                width: 280px;
            }
        }

        &:first-child .h-separator {
            margin-left: 50px;
        }

        &:last-child .h-separator {
            margin-right: 50px;
        }

        &:not(:first-child) .v-separator {
            top: 200px;
            height: 600px;
            width: 7px;
        }

        .max-temperature {
            margin: 10px 0 0;
            padding-left: 45px;

            font-size: 95pt;
        }

        .min-temperature {
            margin-top: -25px;
            padding-left: 32px;

            font-size: 70pt;
            font-weight: normal;
        }
    }

    .PML & {
        width: 33.3%;
        height: 100%;
        background-color: transparent;
        position: relative;

         &:nth-child(4),
         &:nth-child(5) {
             display: none;
         }

         .caption {
             box-sizing: border-box;
             width: 100%;
             height: 40px;
             margin-top: 15px;

             background-color: transparent;

             font-weight: 600;
             font-size: 30pt;
             color: #FFF;

             text-transform: lowercase;
             text-align: center;
         }

         .weather-icon {
             position: absolute;
             top: 100px;
             left: 0;
             width: 230px;
             height: 130px;

             -webkit-filter: drop-shadow(0px 3px 30px rgba(0, 0, 0, .4));
             filter: drop-shadow(0px 3px 30px rgba(0, 0, 0, .4));
         }

         .weather-label {
             display: none;
         }

         .v-separator {
             display: none;
         }

        .h-separator {
            position: absolute;
            top: 150px;
            left: 240px;
            width: 70px;
            border-width: 2px;
            border-color: #616161;
        }

         .max-temperature {
             position: absolute;
             left: 220px;
             top: 90px;
             width: 110px;

             color: $lightOrange;
             font-size: 36pt;
             font-weight: 600;
             text-align: center;
         }

         .min-temperature {
             position: absolute;
             left: 220px;
             top: 160px;
             width: 110px;

             color: $lightBlue;

             font-size: 36pt;
             text-align: center;

             &:after {
                 display: none;
             }
         }
     }

    .PMP & {
        width: 480px;
        height: 255px;

        background-color: transparent;

        &:nth-child(4),
        &:nth-child(5) {
            display: none;
        }

        .caption {
            width: 100%;
            padding-left: 160px;

            font-size: 38pt;
            font-weight: 500;
            color: #1A1A1A;

            text-transform: lowercase;
            text-align: left;
        }

        .weather-icon {
            width: 230px;
            height: 150px;
            margin: 5px 0 0 30px;

            -webkit-filter: drop-shadow(0px 3px 30px rgba(0, 0, 0, .4));
            filter: drop-shadow(0px 3px 30px rgba(0, 0, 0, .4));
        }

        .weather-label {
            display: none;
        }

        .h-separator {
            position: absolute;
            width: 110px;
            height: 2px;
            left: 280px;
            top: 125px;

            background-color: #1A1A1A;
            border: none;
        }

        .v-separator {
            display: none;
        }

        .max-temperature {
            position: absolute;
            top: 60px;
            right: 70px;
            width: 150px;

            color: #ff391c;
            font-size: 50pt;
            text-align: right;
            color: $orange;
        }

        .min-temperature {
            position: absolute;
            top: 135px;
            right: 70px;
            width: 150px;

            color: #1392d3;
            font-size: 50pt;
            text-align: right;
            color: #1A1A1A;
        }
    }
}
