#Captions {
    position: absolute;
    top: 0;
    left: 0;

    .top-bar {
        position: absolute;
        z-index: 100;

        background-color: rgba(0, 0, 0, .4);

        span {
            display: block;

            text-align: center;
            color: white;
            font-weight: 700;

            text-shadow: 0 5px 5px rgba(0, 0, 0, .25);
        }
    }

    .middle-bar {
        position: absolute;
        z-index: 80;

        background-color: rgba(0, 0, 0, 1);

        span {
            display: block;

            color: white;
            font-weight: 700;
            text-transform: none;
            text-transform: uppercase;
            text-align: right;
        }
    }

    .bottom-bar {
        position: absolute;

        background-color: $yellow;

        span {
            display: block;

            color: black;
            font-weight: 700;
            text-align: right;
            text-transform: uppercase;

            transition: .75s cubic-bezier(0.645, 0.045, 0.355, 1);
            transition-property: margin-left, opacity;

            &.transition-captions-appear,
            &.transition-captions-enter {
                position: absolute;

                opacity: 0;
                margin-left: -250px;

                &.transition-captions-appear-active,
                &.transition-captions-enter-active {
                    opacity: 1;
                    margin-left: 0;
                }
            }

            &.transition-captions-leave {

                transition: .25s cubic-bezier(0.645, 0.045, 0.355, 1);
                opacity: 1;
                margin-left: 0;

                &.transition-captions-leave-active {
                    opacity: 0.01;
                    margin-left: 30px;
                }
            }
        }
    }

    &.FCL {
        width: 1920px;
        height: 1080px;

        .top-bar {
            width: 1565px;
            height: 195px;

            top: 265px;
            left: 0;

            span {
                margin: -25px 0 0 400px;
                font-size: 195pt;
            }
        }

        .middle-bar {
            width: 1675px;
            height: 160px;

            top: 460px;
            left: 0;

            span {
                width: 1625px;
                margin: 32px 0 0 0;
                padding: 0 25px;
                font-size: 101pt;
            }

            &.small-text span {
                margin-top: 56px;
                font-size: 80pt;
            }
        }

        .bottom-bar {
            width: 1425px;
            height: 125px;

            top: 620px;
            left: 0;

            span {
                width: 1375px;
                margin: 30px 0 0 0;
                padding: 0 25px;
                font-size: 75pt;
            }
        }
    }

    &.DCA {
        width: 1080px;
        height: 750px;

        .top-bar {
            width: 940px;
            height: 130px;

            top: 190px;
            left: 0;

            span {
                margin: 0 0 0 200px;
                font-size: 110pt;
            }
        }

        .middle-bar {
            width: 1050px;
            height: 100px;

            top: 310px;
            left: 0;

            span {
                width: 1000px;
                margin: 45px 0 0 0;
                padding: 0 25px;
                font-size: 45pt;
            }
        }

        .bottom-bar {
            width: 840px;
            height: 85px;

            top: 410px;
            left: 0;

            span {
                width: 790px;
                margin: 25px 0 0 0;
                padding: 0 25px;
                font-size: 50pt;
            }
        }
    }

    &.WDE {
        width: 850px;
        height: 384px;

        .top-bar {
            width: 690px;
            height: 100px;

            top: 55px;
            left: 0;

            span {
                margin: 0 0 0 100px;
                font-size: 85pt;
            }
        }

        .middle-bar {
            width: 750px;
            height: 75px;

            top: 155px;
            left: 0;

            span {
                width: 710px;
                margin: 14px 0 0 0;
                padding: 0 25px;
                font-size: 45pt;
            }

            &.small-text span {
                margin-top: 30px;
                font-size: 30pt;
            }
        }

        .bottom-bar {
            width: 630px;
            height: 60px;

            top: 230px;
            left: 0;

            span {
                width: 590px;
                margin: 3px 0 0 0;
                padding: 0 25px;
                font-size: 45pt;
            }
        }
    }
}


