#OneDay {
    position: absolute;

    &.FCL,
    &.LED {
        top: 0;
        left: 1920px;

        width: 1920px;
        height: 1080px;
    }

    &.DCA {
        top: 750px;
        left: 0px;

        width: 1080px;
        height: 1170px;
    }
}

#oneDay-wrapper {
    background-color: rgba(0, 0, 0, .65);

    .top-part {
        position: relative;

        .weather-label {
            box-sizing: border-box;

            position: absolute;

            color: #FFF;
            font-weight: 700;
            text-transform: uppercase;

            .label {
                display: inline-block;
                width: 100%;
                vertical-align: middle;
                line-height: 1.2;

                -webkit-hyphens: auto;
                -moz-hyphens: auto;
                -ms-hyphens: auto;
                hyphens: auto;
            }
        }

        .weather-icon {
            position: absolute;

            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
        }
    }

    .separator {
        background: -moz-linear-gradient(left, rgba($grey, .6) 0%, rgba($grey, 0) 50%, rgba($grey, .6) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba($grey, .6) 0%, rgba($grey, 0) 50%, rgba($grey, .6) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, rgba($grey, .6) 0%, rgba($grey, 0) 50%, rgba($grey, .6) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1); /* IE6-9 */
    }

    .bottom-part {
        position: relative;
        .temperature {
            position: absolute;

            text-align: center;
            color: $yellow;
            font-weight: 700;

            &.bellow-zero {
                color: $blue;
            }
        }

        .forecast {
            position: absolute;
            text-align: center;
            font-weight: 700;

            .max {
                color: $yellow;
            }

            .min {
                font-weight: 700;
                color: $blue;
            }
        }

        .details {
            position: absolute;

            .detail-line {
                .detail-name {
                    color: $grey;
                    font-weight: normal;
                }

                .detail-value {
                    color: white;
                    font-weight: 700;
                }

                .temperature-line {
                    display: inline-block;

                    &.max * {
                        color: $yellow;
                    }

                    &.min * {
                        color: $blue;
                    }

                    .detail-name {
                        font-weight: 100;
                    }
                }
            }

            .detail-separator {
                background: -moz-linear-gradient(left, rgba($grey, 1) 60%, rgba($grey, 0) 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(left, rgba($grey, 1) 60%, rgba($grey, 0) 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to right, rgba($grey, 1) 60%, rgba($grey, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1); /* IE6-9 */
            }
        }
    }

    transition: .75s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition-property: opacity;

    &.transition-oneday-appear,
    &.transition-oneday-enter {
        position: absolute;
        opacity: 0;

        &.transition-oneday-appear-active,
        &.transition-oneday-enter-active {
            opacity: 1;
        }
    }

    &.transition-oneday-leave {
        opacity: 1;

        &.transition-oneday-leave-active {
            opacity: 0.01;
        }
    }

    .LED &,
    .FCL & {
        width: 1780px;
        height: 885px;
        margin: 150px 70px 0 70px;

        .top-part {
            width: 1720px;
            height: 365px;
            margin-left: 30px;

            .weather-label {
                top: 0px;
                left: 50px;
                width: 900px;
                height: 365px;

                font-size: 80pt;
                line-height: 365px;

                &.small {
                    font-size: 70pt;
                }
            }

            .weather-icon {
                top: -120px;
                left: 960px;
                width: 850px;
                height: 460px;
            }
        }

        .separator {
            width: 1720px;
            height: 10px;
            margin-left: 30px;
        }

        .bottom-part {
            width: 1720px;

            .temperature {
                left: 30px;
                top: -5px;
                width: 850px;

                font-size: 350pt;
                line-height: 520px;

                &.shrink {
                    font-size: 275pt;
                }
            }

            .forecast {
                left: 30px;
                top: 5px;
                width: 770px;

                .max {
                    font-size: 200pt;
                }

                .min {
                    margin-top: -75px;
                    font-size: 150pt;
                }
            }

            .details {
                top: 50px;
                left: 900px;

                font-size: 65pt;

                &.wide {
                    left: 800px;

                    .detail-line {
                        width: 935px;
                    }
                }

                &.centered {
                    top: 125px;
                }

                .detail-line {
                    padding-top: 15px;

                    .detail-value {
                        padding-left: 35px;
                    }

                    .temperature-line {
                        display: inline-block;
                        width: calc(50% - 25px);

                        &.min {
                            margin-left: 50px;
                        }
                    }

                    &:first-child {
                        margin-left: -10px;
                    }

                    &:not(:last-child) {
                        padding-bottom: 15px;
                    }
                }

                .detail-separator {
                    width: 810px;
                    height: 5px;
                }
            }
        }
    }

    .DCA & {
        width: 1000px;
        height: 950px;
        margin: 0 40px;

        // Val: OK so nothing will make sense here
        // Just deal with it
        // Sorry val

        .top-part {
            // In the code: weather label + icon
            // In the design : temperature + icon

            width: 100%;
            height: 285px;

            .weather-label {
                // Places under the top part, after the separator
                top: 300px;
                left: 30px;
                width: 940px;
                height: 215px;

                font-size: 60pt;
                line-height: 215px;
                text-align: center;

                border-bottom: 3px solid $grey;

                &.small {
                    font-size: 50pt;
                }
            }

            .weather-icon {
                // This one's still here
                top: -65px;
                left: 550px;
                width: 465px;
                height: 320px;
            }
        }

        .separator {
            width: 940px;
            height: 5px;
            margin-left: 30px;
        }

        .bottom-part {
            width: 1000px;

            .temperature {
                // So this is in the top part of the design
                left: 30px;
                top: -275px;
                width: 500px;

                font-size: 210pt;
                line-height: 285px;

                &.shrink {
                    font-size: 175pt;
                }
            }

            // Now for the really fucked up part
            // The temperature line will go up above the other details

            .forecast {
                left: 30px;
                top: -290px;
                width: 500px;


                .max {
                    font-size: 175pt;
                }

                .min {
                    margin-top: -50px;
                    font-size: 125pt;
                }
            }

            .details {
                top: 225px;
                left: 60px;

                width: 880px;

                font-size: 45pt;

                .detail-line {
                    width: calc(100% - 30px);
                    padding: 25px 0 5px 30px;

                    .detail-value {
                        padding-left: 35px;
                    }

                    .temperature-line {
                        display: inline-block;
                        width: 50%;

                        font-size: 70pt;
                        padding-top: 10px;

                        &.min {
                            text-align: right;
                        }
                    }

                    &:first-child {
                        margin-left: -10px;
                    }

                    &:not(:last-child) {
                        padding-bottom: 15px;
                    }

                    &.min-max {
                        width: 100%;
                        padding-left: 0;
                    }
                }

                &.centered {
                    .detail-line {
                        padding: 20px 0 0 15px;
                        width: calc(100% - 15px);
                    }
                }

                .detail-separator {
                    width: 100%;
                    height: 5px;
                }
            }
        }

        &.TOMORROW {
            .top-part {
                height: 435px;

                .weather-label {
                    top: 450px;
                }


                .weather-icon {
                    top: 35px;
                }
            }

            .bottom-part {
                .forecast {
                    top: -435px;
                }

                .details {
                    top: 235px;

                    .detail-line {
                        padding: 30px 0 30px 15px;
                    }
                }
            }
        }
    }
}
